1_compare
1_compare_test
1_copy
1_copy_test
1_entab
1_entab_test
2_charcount
2_charcount_test
2_include
2_include_test
2_overstrike
2_overstrike_test
3_compress
3_compress_test
3_concat
3_linecount
3_linecount_test
4_expand
4_expand_test
4_print
4_print_test
4_wordcount
4_wordcount_test
5_detab
5_detab_test
5_echo
5_echo_test
5_makecopy
6_translit
6_translit_test
libtestsupport.a
sticpp.cbp

