.deps
*.o
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
configure
*_copy*
*_charcount*
*_linecount*
*_linecount*
*_wordcount*
*_detab*
*_entab*
*.gz
*.exe
*~
missing
