.deps
*.o
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
configure
copy*
charcount*
linecount*
linecount*
wordcount*
detab*
entab*
*.gz
*.exe
*~
depcomp
.dirstamp
compile
config.guess
config.h
config.h.in
config.sub
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
stamp-h1
